<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Bablo Tap</title>
</head>
<body>
    <div class="container">
        <button id="bablo-button">Бабло</button>
        <button id="start-bot-button">Запустить бота</button> <!-- Кнопка запуска бота -->
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
